/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 6rem 0 2rem;
}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: 4rem;
}

.form__page-subtitle,
.section__title,
.section__subtitle {
  text-align: center;
}

/*=============== LAYOUT ===============*/
.container {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}

.text__container {
  padding: 1rem 2.2rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/*=============== BUTTONS ===============*/
.button {
  display: inline-block;
  background-color: var(--title-color);
  color: var(--container-color);
  padding: 1.25rem 2rem;
  border-radius: 1rem;
  font-weight: var(--font-medium);
  transition: 0.3s;
}

.button:hover {
  background-color: rgb(51, 51, 250);
  color: var(--title-color-light);
}

.button__icon {
  margin-left: var(--mb-0-5);
}

.button--flex {
  display: inline-flex;
  align-items: center;
}

/*=============== Text Section ===============*/
.text__content-title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-normal);
  margin-bottom: 0.6rem;
  color: #cccccc;
}

.text__content-description {
  line-height: 1.5;
  color: #666666;
  text-align: justify;
}

.text__content-data {
  margin-bottom: 2.5rem;
}
